In [6]:
pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\playdata\appdata\local\anaconda3\envs\pyconda\lib\site-packages (2.2.2)
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\playdata\appdata\local\anaconda3\envs\pyconda\lib\site-packages (from pandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\playdata\appdata\local\anaconda3\envs\pyconda\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\playdata\appdata\local\anaconda3\envs\pyconda\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\playdata\appdata\local\anaconda3\envs\pyconda\lib\site-packages (from pandas) (2024.1)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Requirement already satisfied: six>=1.5 in c:\users\playdata\appdata\local\anaconda3\envs\pyconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd
df = pd.read_excel('2024년_07월_자동차_등록자료_통계.xlsx', sheet_name=)
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,<,자동차,통계표,Unnamed: 6,>,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,조회년월:,2024.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,차종,차종,승용,NaN,NaN,NaN,승합,NaN,NaN,NaN,...,NaN,NaN,특수,NaN,NaN,NaN,총계,NaN,NaN,NaN
2,용도별,NaN,관용,자가용,영업용,계,관용,자가용,영업용,계,...,영업용,계,관용,자가용,영업용,계,관용,자가용,영업용,계
3,시도별,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,서울,NaN,4742,2654961,117223,2776926,3801,69262,14795,87858,...,60021,308398,424,5901,5236,11561,12896,2974572,197275,3184743
5,부산,NaN,1813,1179091,130625,1311529,1276,28378,6221,35875,...,36077,185047,154,3172,9045,12371,4868,1357986,181968,1544822
6,대구,NaN,1107,1035150,29981,1066238,1027,21714,3905,26646,...,20801,161552,153,2869,2205,5227,3750,1199021,56892,1259663
7,인천,NaN,1735,1266681,226155,1494571,1155,30470,7170,38795,...,35352,202470,141,3910,5411,9462,4401,1466809,274088,1745298
8,광주,NaN,916,599209,13876,614001,604,13924,2295,16823,...,14765,93262,89,2051,1938,4078,2455,692835,32874,728164
9,대전,NaN,693,595066,29352,625111,554,13954,2276,16784,...,12460,86085,80,2069,1734,3883,2251,683790,45822,731863
10,울산,NaN,760,506200,7451,514411,512,10291,1916,12719,...,10307,73685,54,1408,2264,3726,1984,580619,21938,604541
11,세종,NaN,362,176829,1192,178383,252,3243,585,4080,...,1978,17344,65,634,172,871,947,195804,3927,200678
12,경기,NaN,8181,5440456,77777,5526414,4270,140989,32032,177291,...,136719,859268,632,18212,12362,31206,18842,6316447,258890,6594179
13,충북,NaN,1437,726665,17092,745194,1142,21552,3781,26475,...,16099,166612,164,3391,2907,6462,4394,900470,39879,944743
14,충남,NaN,2109,967426,13249,982784,1335,30356,5263,36954,...,19640,236538,330,4283,3283,7896,6263,1216474,41435,1264172
15,전남,NaN,2374,757903,201051,961328,1715,26245,8107,36067,...,21181,257782,228,3965,5164,9357,7085,1021946,235503,1264534
16,경북,NaN,2732,1152984,13491,1169207,1777,35789,5250,42816,...,24933,324746,383,5042,5395,10820,7959,1490561,49069,1547589
17,경남,NaN,2648,1489406,116292,1608346,1921,37607,7085,46613,...,27586,300104,324,5051,5734,11109,7654,1801821,156697,1966172
18,제주,NaN,878,329224,269987,600089,491,9939,6547,16977,...,4225,90527,80,1503,741,2324,2484,425933,281500,709917
19,강원,NaN,1990,661429,12436,675855,1703,20161,3016,24880,...,9264,166332,274,3189,2032,5495,6684,839130,26748,872562
20,전북,NaN,1959,754947,13126,770032,1401,23374,3920,28695,...,16403,194876,205,3147,2567,5919,5873,957633,36016,999522
21,합계,NaN,36436,20293627,1290356,21620419,24936,537248,114164,676348,...,467811,3724628,3780,69797,68190,141767,100790,24121851,1940521,26163162
22,월간증감,202407,325,27161,3161,30647,76,-2455,-47,-2426,...,479,-160,15,547,64,626,518,24512,3657,28687
23,NaN,202307,-115,32361,2546,34792,73,-2127,-83,-2137,...,808,4751,32,663,34,729,74,34756,3305,38135
24,NaN,202207,237,45985,9302,55524,87,-1725,-15,-1653,...,532,9086,11,981,149,1141,517,53613,9968,64098
25,년간증감,202407,955,214333,14929,230217,-73,-17871,-282,-18226,...,1923,-1772,78,3142,522,3742,1280,195589,17092,213961
26,NaN,202307,477,277162,925,278564,214,-17545,-283,-17614,...,11082,26563,125,4120,500,4745,1301,278733,12224,292258
27,NaN,202207,-237,290529,49652,339944,183,-15889,-1178,-16884,...,9255,38413,168,6148,900,7216,615,309445,58629,368689